<html
      xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="js">
		<script type="text/javascript" th:src="@{/static/easy-ui/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/easy-ui/jquery.easyui.min.js}"></script>
		<input th:value="${application.webStaticUrl}" class="path" style="display: none">
		<script type="text/javascript">
            //var webUrl = '[[${application.webStaticUrl}]]';
			var webUrl = $('.path').val();
		</script>
	</div>
</body>
</html>
